* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  background-color: #1F2937;
  color: #F9FAF8;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.header-links {
  display: flex;
  list-style: none;
  gap: 15px;
}

.header-links a {
  text-decoration: none;
  font-size: 18px;
  color: #E5E7EB;
}

.hero {
  background-color: #1F2937;
  color: #F9FAF8;
  padding: 60px 20px;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.hero-text {
  max-width: 500px;
}

.hero-text h1 {
  font-size: 48px;
  font-weight: 900;
}

.hero-text p {
  margin: 20px 0;
  color: #E5E7EB;
}

.hero-text button {
  background-color: #3882F6;
  color: white;
  padding:8px 20px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
}

.hero-img-container {
  font-size: 15px;
}

.hero-img-container a {
  color: #E5E7EB;
}

.hero-img {
  width: 500px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.info {
  padding: 50px 20px;
  text-align: center;
}

.info h2 {
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
  margin-bottom: 40px;
}

.info-items {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.info-item {
  border: 3px solid #3882F6;
  border-radius: 20px;
  padding: 10px;
  width: 300px;
  height: 250px;
}

.image-subtext a {
  color: #1F2937;
}

.quote {
  background-color: #E5E7EB;
  margin: 0 auto;
  padding: 100px 300px;
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  color: #1F2937;
  
}

.quote .author {
  text-align: right;
  font-size: 20px;
  margin-top: 20px;
}

.call-to-action {
  background-color: #3882F6;
  color: white;
  padding: 20px;
  margin: 100px;
  border-radius: 8px;
}

.call-to-action-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.call-to-action-banner p {
  font-size: 14px;
  font-weight: lighter;
}

.call-to-action-banner button {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 8px 20px;
  border-radius: 6px;
  font-weight: bold;
}

footer {
  background-color: #1F2937;
  color: #E5E7EB;
  text-align: center;
  padding: 35px 0;
}