* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  max-width: 75%;
  margin: 0 auto;
}

header {
  background-color: #1F2937;
  color: #F9FAF8;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.header-links {
  display: flex;
  list-style: none;
  gap: 15px;
}

.header-links a {
  text-decoration: none;
  font-size: 18px;
  color: #E5E7EB;
}

.hero {
  background-color: #1F2937;
  color: #F9FAF8;
  padding: 60px 20px;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 75%;
  margin: 0 auto;
  flex-wrap: wrap;
}

.hero-text {
  max-width: 500px;
}

.hero-text h1 {
  font-size: 48px;
  font-weight: 900;
}

.hero-text p {
  margin: 20px 0;
  color: #E5E7EB;
}

.hero-text button {
  background-color: #3882F6;
  color: white;
  padding:8px 20px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
}

.hero-img {
  width: 500px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}